* {
	box-sizing: border-box;
}

body {
	background-color: #1d1d1d;
	color: aliceblue;
}

#main {
	padding: 0 7px;
	padding-bottom: 1%;
}

#logo {
	padding-top: 5px;
	width: 74px;
}

nav {
	background-color: #070707;
	padding: 0;
	height: 45px;
}

nav > img {
	flex-basis: 6%;
}
nav > a {
	flex-basis: 8%;
}

ul {
	display: flex;
	margin: 0;
	height: 100%;
	padding: 0;
	border-bottom: 1px solid #5a5a5a;
}

ul li {
	border-right: 1px solid #5a5a5a;
	list-style-type: none;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

ul li:nth-child(2):hover {
	border-bottom: 5px solid #5e9cff;
}

ul li:nth-child(3):hover {
	border-bottom: 5px solid #60664d;
}

ul li:nth-child(4):hover {
	border-bottom: 5px solid #ff5a44;
}

ul li:nth-child(5):hover {
	border-bottom: 5px solid #e5f051;
}

ul li:nth-child(6):hover {
	border-bottom: 5px solid blue;
}

ul li:nth-child(7):hover {
	border-bottom: 5px solid rgb(110, 110, 255);
}

ul li:nth-child(8):hover {
	border-bottom: 5px solid rgb(123, 199, 129);
}

ul li:nth-child(9):hover {
	border-bottom: 5px solid #60664d;
}

ul li:nth-child(10):hover {
	border-bottom: 5px solid rgb(104, 45, 172);
}

ul li:nth-child(11):hover {
	border-bottom: 5px solid rgb(53, 53, 53);
}

#search {
	border-right: none;
}

#search:hover {
	border-bottom: none;
}

nav a {
	color: aliceblue;
	text-decoration: none;
	align-items: center;
}

form input {
	background-color: #1f2223;
	border-radius: 4%;
	border: none;
	height: 23px;
	color: aliceblue;
	font-size: 14px;
	padding-left: 5px;
}

main section {
	flex-basis: 49%;
}

.imageContainer {
	position: relative;
	text-align: center;
	color: white;
	width: 50%;
}
.imageText {
	position: absolute;
	text-align: left;
	bottom: 8px;
	left: 10px;
}

section .imageContainer {
	border: 1px solid pink;
}
main section + section {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 49%;
	gap: 12px;
}

main img {
	max-width: 100%;
}

.container {
	display: flex;
}

#heading {
	width: 100%;
}

#heading h2,
h3 {
	display: inline-block;
}

#heading h3 {
	float: right;
}

main {
	display: flex;
}

main > section {
	width: 50vw;
	border: 1px solid pink;
}
